@{
    ViewBag.Title = "Login";
    //Layout = null;
}
<div class="container">
    <form ng-app="formApp" ng-controller="validateCtrl as main" name="main.userForm" ng-submit="main.processForm()" novalidate class="form" method="post">
        <div ng-show="main.respose!=''&&main.respose.Result==1" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            {{main.respose.Msg}}
        </div>
        <div ng-show="main.respose!=''&&main.respose.Result!=1" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            {{main.respose.Msg}}
        </div>
        <div class="form-group">
            <label>用户名</label>
            <input name="userNo" ng-model="main.formData.userNo" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/" required type="text" class="form-control" placeholder="请输入用户名,由字母、数字、下划线组成，以字母开头，3-30个字符">
            <span style="color:red;" ng-show="main.userForm.userNo.$dirty&&main.userForm.userNo.$invalid">
                <span ng-show="main.userForm.userNo.$error.required">必须填写用户名</span>
                <span ng-show="main.userForm.userNo.$error.pattern">,由字母、数字、下划线组成，以字母开头，3-30个字符</span>
            </span>
        </div>
        <div class="form-group">
            <input name="userPwd" ng-maxlength="20" ng-minlength="6" required ng-model="main.formData.userPwd" type="password" class="form-control" placeholder="请输入密码">
            <span style="color:red;" ng-show="main.userForm.userPwd.$dirty&&main.userForm.userPwd.$invalid">
                <span ng-show="main.userForm.userPwd.$error.required">请输入密码</span>
                <span ng-show="main.userForm.userPwd.$error.minlength">密码长度不能小于6个字符！</span>
                <span ng-show="main.userForm.userPwd.$error.maxlength">密码长度不能大于20个字符！</span>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住密码
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary" ng-disabled="!main.userForm.userNo.$dirty || userForm.userNo.$invalid ||
    !main.userForm.userPwd.$dirty || main.userForm.userPwd.$invalid">
                    提交
                </button>
            </div>
        </div>
        
        {{main.title}}
    </form>
</div>
    <script>
        var formApp = angular.module('formApp', []);
        angular.module('formApp').controller("validateCtrl", function ( $http) {
            var vm = this;
            vm.title = 'AngularJS Tutorial Example';
            vm.formData = {};
            //$scope.formData = {};
            vm.respose = "";
            vm.processForm = function () {
                $http.post("/User/Login", vm.formData)

                .success(function (data) {
                    vm.respose = data;
                }).error(function () {
                    alert("出差了");
                });
            };

        });       
    </script>
